extends layout.pug

block content
    div.container
        div.row
            div.col-12.m-auto
                h1 Здравствуйте! Для входа в кабинет авторизуйтесь через соц. сеть Вконтакте
            div.col-auto.mt-4.mx-auto
                a.btn.sign-in-vk-btn.btn-outline-primary(href='/auth/vkontakte') Войти через vk.com