extends layout.pug

block content
    div.container
        div.row.mt-5
            div.col-12.m-auto.text-center
                h1 Здравствуйте!
            div.col-12.m-auto.text-center
                h2 Для входа в личный кабинет авторизуйтесь через соц. сеть Вконтакте
            div.col-auto.mt-4.mx-auto
                a.btn.sign-in-vk-btn.btn-outline-primary(href='/auth/vkontakte') Войти через vk.com