extends layout.pug

block content
    div.container
        if user.record && user.record.value
            div.row
                div.col-auto.my-4.mx-auto
                    h1
                        | Зачетка - #
                        = user.record.value
                div.col-12.text-center
                    a.btn.btn-primary.mr-2(href="/schedule") Расписание
                    a.btn.btn-danger(href="/logout") Выйти
        else
            div.row
                div.col-auto.my-4.mx-auto
                    h1
                        | К вашему аккаунту не привязана никакая зачетка, напишите в личные сообщения сообществу по ссылке для начала работы
                div.col-12.text-center
                    a.btn.btn-outline-info.mr-2(href="https://vk.com/volsu_helper") Сообщество ВК
                    a.btn.btn-danger(href="/logout") Выйти